mixin footer(data)
    footer.footer

        //- Main scripts. You can replace it, but I recommend you to leave it here
        
        //- vendor bower files
        script(src='%=staticPrefix=%js/vendor%=hash=%%=min=%.js')
        script(src='%=staticPrefix=%js/separate-js/backbone.js')
        
        //- custom js
        script(src='%=staticPrefix=%js/main%=hash=%%=min=%.js')
        
        script(src='%=staticPrefix=%js/separate-js/test.js')
        
